{% extends "admin/admin.html" %}

{% block css %}
<style>
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        vertical-align: middle;
        text-align: left;
    }

    .td_bd {
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}
<section class="content-header">
    <h1>数据管理系统</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 楼盘管理</a></li>
        <li class="active">修改楼盘</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">修改楼盘</h3>
                </div>
                <form role="form" method="post" novalidate enctype="multipart/form-data">
                    <div class="box-body">
                        {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> 操作成功 </h4>
                            {{ msg }}
                        </div>
                        {% endfor %}
                        {% for msg in get_flashed_messages(category_filter=["err"]) %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-ban"></i> 操作失败 </h4>
                            {{ msg }}
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <label for="input_name">{{ form.presale_license_number.label }}</label>
                            {{ form.presale_license_number(value=hist.预售许可证号) }}
                            {% for err in form.presale_license_number.errors %}
                            <div class="col-md-12">
                                <font style="color: red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.building_name.label }}</label>
                            {{ form.building_name(value=hist.项目备案名) }}
                            {% for err in form.building_name.errors %}
                            <div class="col-md-12">
                                <font style="color: red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.building_promotion_name.label }}</label>
                            {{ form.building_promotion_name(value=hist.项目推广名) }}
                            {% for err in form.building_promotion_name.errors %}
                            <div class="col-md-12">
                                <font style="color: red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.building_address.label }}</label>
                            {{ form.building_address(value=hist_latlng.building_address) }}
                            {% for err in form.building_address.errors %}
                            <div class="col-md-12">
                                <font style="color: red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.lng.label }}</label>
                            {{ form.lng(value=hist_latlng.lng) }}
                            {% for err in form.lng.errors %}
                            <div class="col-md-12">
                                <font style="color: red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.lat.label }}</label>
                            {{ form.lat(value=hist_latlng.lat) }}
                            {% for err in form.lat.errors %}
                            <div class="col-md-12">
                                <font style="color: red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.remark.label }}</label>
                            {{ form.remark(value=hist_latlng.remark) }}
                            {% for err in form.remark.errors %}
                            <div class="col-md-12">
                                <font style="color: red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.plotnum.label }}</label>
                            {{ form.plotnum(value=hist_land.plotnum) }}
                            {% for err in form.plotnum.errors %}
                            <div class="col-md-12">
                                <font style="color: red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_activity_time">{{ form.completion_date.label }}</label>
                            {{ form.completion_date(value=histworm.交付时间) }}
                            {% for err in form.completion_date.errors %}
                            <div class="col-md-12">
                                <font style="color: red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.prop_man_comp.label }}</label>
                            {{ form.prop_man_comp(value=histworm.物业公司) }}
                            {% for err in form.prop_man_comp.errors %}
                            <div class="col-md-12">
                                <font style="color: red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.floor_area.label }}</label>
                            {{ form.floor_area(value=histworm.占地面积) }}
                            {% for err in form.floor_area.errors %}
                            <div class="col-md-12">
                                <font style="color: red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.total_building_volume.label }}</label>
                            {{ form.total_building_volume(value=histworm.总建筑体量) }}
                            {% for err in form.total_building_volume.errors %}
                            <div class="col-md-12">
                                <font style="color: red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.plot_ratio.label }}</label>
                            {{ form.plot_ratio(value=histworm.容积率) }}
                            {% for err in form.plot_ratio.errors %}
                            <div class="col-md-12">
                                <font style="color: red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.greening_rate.label }}</label>
                            {{ form.greening_rate(value=histworm.绿地率) }}
                            {% for err in form.greening_rate.errors %}
                            <div class="col-md-12">
                                <font style="color: red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_name">{{ form.presale_type.label }}</label>
                            {{ form.presale_type(value=histworm.预售商品房) }}
                            {% for err in form.presale_type.errors %}
                            <div class="col-md-12">
                                <font style="color: red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label>{{ form.price_file.label }}</label>
                            {{ form.price_file }}
                            {% for err in form.price_file.errors %}
                            <div class="col-md-12">
                                <font style="color: red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td class="td_bd">上传文件：</td>
                                <td>{{ plnpricefile.price_file }}</td>
                            </tr>
                            <tr>
                                <td class="td_bd">开发单位：</td>
                                <td>{{ histworm.开发单位 }}</td>
                            </tr>
                            <tr>
                                <td class="td_bd">发证日期：</td>
                                <td>{{ histworm.发证日期 }}</td>
                            </tr>
                            <tr>
                                <td class="td_bd">所在地区：</td>
                                <td>{{ histworm.所在地区 }}</td>
                            </tr>
                            <tr>
                                <td class="td_bd">样本区域：</td>
                                <td>{{ histworm.样本区域 }}</td>
                            </tr>
                            <tr>
                                <td class="td_bd">项目测算面积：</td>
                                <td>{{ histworm.项目测算面积 }}平方米</td>
                            </tr>
                            <tr>
                                <td class="td_bd">开盘日期：</td>
                                <td>{{ histworm.开盘日期 }}</td>
                            </tr>
                            <tr>
                                <td class="td_bd">售楼电话：</td>
                                <td>{{ histworm.售楼电话 }}</td>
                            </tr>
                            <tr>
                                <td class="td_bd">房源总量：</td>
                                <td>{{ histworm.房源总量 }}套</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        {{ form.csrf_token }}
                        {{ form.submit }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $('#input_activity_time').datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            language: 'zh-CN',
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#g-3").addClass("active");
        $("#g-3-1").addClass("active");
    });
</script>
{% endblock %}