{% macro page(data,url,key) %}
<ul class="pagination pagination-sm no-margin pull-right">
    <li
            {% if not data.has_prev %} class="disabled" {% endif %}>
        <a href="{% if data.has_prev %}{{ url_for(url,page = data.page - 1,key=key) }}
            {% else %}#{% endif %}">&laquo;
        </a>
    </li>
    {% for p in data.iter_pages() %}
    {% if p %}
    {% if p == data.page %}
    <li class="active">
        <a href="{{ url_for(url, page = p,key=key) }}">{{ p }}</a>
    </li>
    {% else %}
    <li>
        <a href="{{ url_for(url, page = p,key=key) }}">{{ p }}</a>
    </li>
    {% endif %}
    {% else %}
    <li class="disabled">
        <a href="#">&hellip;</a>
    </li>
    {% endif %}
    {% endfor %}
    <li
            {% if not data.has_next %} class="disabled" {% endif %}>
        <a href="{% if data.has_next %}{{ url_for(url,page = data.page + 1,key=key) }}{% else %}#{% endif %}">&raquo;</a>
    </li>
</ul>
{% endmacro %}
